{% extends "layout.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
  <div> <p style="font-size:100px;font-family: 'Roboto', sans-serif;position:relative; top:20%;left:40vw;">About Us</p> </div>
  <div class="box">
    <h2 class="about" style="text-align: justify;">Internet is Big Revolution of our human Evolution.As it has become available for every people on their finger-tips. It became Easy Door for all the Human activities. Internet has both Good and Bad advantages .The good advantages make people liable to good activities ,but bad advantages is used by the people who don't want to follow the rules & regulations of their Country .They use Internet as a air which cannot be tracked by the Law. Many illegal activities take place on the web. It includes deep web and dark web and some place in the surface web. So we decided to tackle this Gigantic problem and make our small hands, to control such activities.Our team developed scraping to fetch the details of target website using scrapy tool . This information will be stored in the database and reported to the law .As squirrel help to the Law and Enforcement.
    </h2><br>
    <h2  class="about">Our Team,</h2>
    <h2  class="about">Sanath Shalavadi</h2>
    <h2  class="about">Jagadeesh Janthly</h2>
    <h2  class="about">Mahantesh B Pattanashetti</h2>
  </div>
{% endblock %}

