{% extends "layout.html" %}
{% block title %}Web Scraping{% endblock %}
{% block content %}
  <div class="know"> <p style="font-size:100px;font-family: 'Roboto', sans-serif;position:relative;top:20%;left:40vw;margin:5vw" >WEB SCRAPING</p> </div>
  <div class="page">
    <img class="left" src="/static/images/web2.webp" alt=""> <div class='right' class=""><h3 class="content">Web scraping is an automatic method to obtain large amounts of data from websites. Most of this data is unstructured data in an HTML format which is then converted into structured data in a spreadsheet or a database so that it can be used in various applications.There are many different ways to perform web scraping to obtain data from websites. These include using online services, particular API’s or even creating your code for web scraping from scratch.</h3></div>
  </div>
  <div class="page">
    <div  class="left"><h3 class="content">Web Scrapers can extract all the data on particular sites or the specific data that a user wants. Ideally, it’s best if you specify the data you want so that the web scraper only extracts that data quickly. Then the scraper obtains the required data from this HTML code and outputs this data in the format specified by the user.</h3> </div> <img class='right' src="/static/images/web4.webp" alt="">
  </div>
  <div class="page">
    <img class='left' src="/static/images/web5.webp" alt=""> <div class='right' class=""><h3 class="content">Web Scrapers can be divided on the basis of many different criteria, including Self-built or Pre-built Web Scrapers, Browser extension or Software Web Scrapers, and Cloud or Local Web Scrapers.</h3></div>
  </div>
{% endblock %}

